html{
	width:900px;
	margin:0 auto;
}

div.code{
	margin: 5px;
	color: #fff;
	background-color: #333;
	padding: 10px;
}
div.result{
	background-color: #eef;
	margin: 5px;
	padding: 10px;
}

form>input{
	margin: 5px 0;
}